header{
	background-image: linear-gradient(#50065C, #6d087d 60%, #77048a);
	color:#fff;
	min-height: 57px;
	padding-top: 10px;
	@font-face {
  font-face {
  font-family: "Letra";
  src: url('Lobster_1.3.otf');

font-weight: normal;
font-style: normal;
}​
}​

	
}

header form{
	float:right;
}

header .logo{
	float:left;
}

.panel-heading{
    background-image: linear-gradient(#50065C, #6d087d 60%, #77048a);
    color: #fff !important;
}


.panel-heading_2{
    color: #fff !important;
}


.bubble{
	position: relative;

	min-height: 65px;
	padding: 15px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.bubble:after{
	content:'';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #fff;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	left:-15px;
	top: 50%;
}

.bubble:before{
	content:'';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #ccc;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -15px;
	left:-16px;
	top: 50%;
}

.post-actions{
	margin:5px;
}

.comment-form .form-group{
	width: 90%;
}

.comment{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	margin: 5px 0;
	overflow: auto;
	width:100%;
}

.comment-form input[type="text"]{
	width: 100%;
}

.comment-avatar img{
	width: 40px;
	margin-right: 5px;
}

.friends li{
	list-style: none;
	padding:0 5px;
	display:inline;
	float:left;
}

.friends img{
	width: 55px;
}

.groups img{
	width:80px;
	float:left;
	margin-right: 15px;
}

.group-item{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	overflow: auto;
}

.profile ul{
	margin-top: 30px;
}

.profile li{
	list-style: none;
	line-height: 1.9em;
}

.photos{
	margin: 0;
	padding: 0;
}

.photos li{
	list-style: none;
	float: left;
	margin:5px;
	width: 23%;
}

.photos img{
	width:100%;
}

footer{
	background: #f4f4f4;
	height: 90px;
	color: #50065C;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
	margin-top: 30px;
	border-top: 7px solid #50065C;
}

.members .member-row{
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.members img{
	margin-bottom: 5px;
}

@media(min-width: 991px){
  .members p{
	padding-top: 40px;
	}
}
.bajar
{
margin: 2em;
}

@font-face {
  font-family: "Letra";
  src: url('Lobster_1.3.otf');

font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: "SegundaLetra";
  src: url('CaviarDreams.ttf');

font-weight: normal;
font-style: normal;
}

.carousel-caption * strong {
font: normal 30px Letra;

}

h1 strong {font: 30px Letra;
color: white;}


.carousel-caption{
font: normal 15px SegundaLetra;
background: rgba(0, 0, 0, 0.5);
}


.botonface{
background-color: #004aa4;
color: white;

@font-face {
  font-family: "Letra";
  src: url('Lobster_1.3.otf');

font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: "SegundaLetra";
  src: url('CaviarDreams.ttf');

font-weight: normal;
font-style: normal;
}

    
    
/* para tabla con scroll */
    
.table-fixed thead,
.table-fixed tfoot{
  width: 97%;
}

.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tfoot,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed thead > tr> th,
.table-fixed tfoot > tr> td{
  float: left;
  border-bottom-width: 0;
}